<!DOCTYPE html>
<html lang="en">
<head>
  <title>회원 리스트</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">   
    <br> 
    <h1> 출석 리스트 </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>회원 번호</th>
        <th>트레이너 번호</th>
        <th>출석일</th>
      </tr>
    </thead>
    <br>
    <tbody>
        {% for i in lists %}
            <tr>
             <td>{{ i[0] }}</td>
             <td>{{ i[1] }}</td>            
             <td>{{ i[2] }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>